*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1200px;
    background:  #95aba0;
}

.root {
    align-items: center;
    margin: 10px;
    padding: 10px 0;
    height: 150px;
    max-width: 900px;
}

.form_txt {
    text-align: center;
    font-size: 22px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.form {
    
    padding: 10px;
    height: 100px;
    border: 2px solid black;
    border-radius: 2px;
    max-width: 1200px;
    /* background-color: rgba(236, 253, 237, 0.716); */
    background: linear-gradient(-45deg, #95aba0, #d6fae8) ;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form input {
    height: 50px;
    width: 250px;
    border: 2px solid black;
    background-color: rgba(222, 251, 217, 0.537);
    border-radius: 5px;
}

.btn {
    height: 30px;
    cursor: pointer;
    width: 70px;
    border-radius: 3px;
    border-color: #2acc4378;
    color: #fff;
    box-shadow: 0 0 40px 40px #00900a inset, 0 0 0 0 #188d31;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.btn:hover {
    box-shadow: 0 0 10px 0 #6adf91 inset, 0 0 10px 4px #33d772;
    color: black;
}

.product {
    margin: 5px 10px ;
    padding: 10px;
    height: 200px;
    border: 2px solid black;
    border-radius: 0 15px ;
    max-width: 900px;
    /* background-color: rgba(236, 253, 237, 0.716); */
    background: linear-gradient(-45deg, #95aba0, #d6fae8) ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
    color: rgba(27, 27, 27, 0.684);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description {
    width: 95%;
}

.post_title {
    font-size: 24px;
    font-weight: 600;
}

.delete_btn {
    cursor: pointer;
    margin: 5px;
    height: 30px;
    width: 70px;
    border-radius: 3px;
    border-color: #bf1318e1;
    color: #fff;
    box-shadow: 0 0 40px 40px #f44747 inset, 0 0 0 0 #c72929;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.delete_btn:hover{
    box-shadow: 0 0 10px 0 #a61d1d inset, 0 0 10px 4px #721d1d;
    color: black;
}

 .post_price {
    font-size: 22px;
    color: rgb(10, 110, 35);
}

.post_desc {
    font-size: 18px;
    font-style: italic;
}

.img {
    height: 100%;
    border-radius: 5px;
    border: 2px solid black;
}

.box {
    margin: 40px 0;
}






